@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    /*TODO cleanup this crap*/
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 800;
    white-space: nowrap;
  }
  h2 {
    font-size: clamp(30px, 8vw, 50px);
    font-weight: 800;
    white-space: nowrap;
  }
  h3,
  h3 {
    @apply text-xl;
  }
  body {
    @apply h-screen m-0 min-w-[400px];
  }
  section {
    @apply relative flex flex-col min-h-[60vh] py-24 p-[10vw] items-center;
  }

  a {
    transition: 0.3s;
  }

  a:hover {
    color: #93c5fd;
  }
}